.activities {
  font-family: "Lemon/Milk";
  font-size: 20px;
  color: #656263;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.actname {
  font-family: "ge body";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 20px;
}

p {
  margin-top: 0px;
}

.noact {
  font-family: "ge body";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 20px;
  grid-area: 1 / 2 / 3 / 3;
}
