.cardcountry {
  border-radius: 1%;
  border: solid 2px #656263;
  box-shadow: 10px 10px 20px 1px rgba(112, 112, 112, 0.2);
  margin: 20px;
  display: grid;
  padding: 20px 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

img {
  width: 200px;
  height: 120px;
  border-radius: 25%;
}

.text {
  text-align: left;
  font-family: "ge body";
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  color: #656263;
}

.cardcountry:hover {
  margin: -2px;
  padding: 25px;
  box-shadow: 20px 20px 20px 1px rgba(112, 112, 112, 0.4);
  background-color: #65626356;
}

.tiny {
  text-align: right;
  font-family: "ge body";
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  color: #656263;
}
