ul {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
}

li {
  display: inline;
}

.pag {
  color: #000;
  border: none;
  background-color: #0000;
  border-radius: 5%;
  font-family: "bebas neue";
  font-size: 20px;
}

.pag:hover {
  color: #2b385c;
  background-color: #000;
}

.pag:focus {
  color: #2b385c;
  background-color: #fff;
}
